## folha de pagamento

Evolução história dos vencimentos dos servidores

This notebook contains basic statistical analysis and visualization of the data.

### Data Sources
- summary : Processed file from notebook 1-Data_Prep

### Changes
- 07-01-2023 : Started project

In [1]:
import pandas as pd
from pathlib import Path
from datetime import datetime
import seaborn as sns

In [2]:
%matplotlib inline

In [26]:
table = pd.read_html(
    'https://srvlvr.prefeituradearuja.sp.gov.br/CECAM_SISTEMAS_TRANSPARENCIA/Pages/Geral/wfFolhaPagamentoServidor.aspx',
    match='Departamento', encoding='utf-8')
table[0]

    0                                                  1   2
0 NaN                                                NaN NaN
1 NaN  *Exercício:  <!-- aspxAddHoverItems('cphConteu... NaN
2 NaN                                                NaN NaN

In [31]:
len(table)
table[3]

,0,1,2,3,4,5,6,7
0,Demonstrativo de Pagamento,Nome,Data de Admissão,Departamento,Cargo/Função,Valor Base (R$),Valor Bruto (R$),Valor Líquido (R$)
1,NaN,<!-- aspxAddDisabledItems('cphConteudo_ASPxRou...,<!-- aspxAddDisabledItems('cphConteudo_ASPxRou...,<!-- aspxAddDisabledItems('cphConteudo_ASPxRou...,<!-- aspxAddDisabledItems('cphConteudo_ASPxRou...,"<!-- __aspxNumberDecimalSeparator = ','; //-->...",<!-- aspxAddDisabledItems('cphConteudo_ASPxRou...,<!-- aspxAddDisabledItems('cphConteudo_ASPxRou...
2,Não existem dados para mostrar,Não existem dados para mostrar,Não existem dados para mostrar,Não existem dados para mostrar,Não existem dados para mostrar,Não existem dados para mostrar,Não existem dados para mostrar,Não existem dados para mostrar
3,NaN,NaN,NaN,NaN,NaN,Total:,Total:,Total:

### File Locations

In [3]:
today = datetime.today()
in_file = Path.cwd() / "data" / "processed" / f"summary_historico_folha_pagamento.pkl"
report_dir = Path.cwd() / "reports"
report_file = report_dir / "Excel_Analysis_historico_folha_pagamento.xlsx"

ano_dir               = Path.cwd() / "data" / "processed" / 'ano'
mes_dir               = Path.cwd() / "data" / "processed" / 'mes'
cargo_normalizado_dir = Path.cwd() / "data" / "processed" / 'cargo_normalizado'

In [4]:
# df = pd.read_pickle(in_file)

parquets_ano = sorted(ano_dir.glob('*.parquet'))


def load_data():  

    dataframes = [pd.read_parquet(in_file) for in_file in parquets_ano]
    df_todos_anos = pd.concat(dataframes)

    return df_todos_anos.copy()

# Carga inicial obrigatória
df = load_data()

### Perform Data Analysis

In [5]:
display(df)

,matricula,nome,secretaria,local,cargo,escolaridade,tempo,admissao,demissao,tipo_folha,...,Tpf_Id,Cnd_Id,valor_bruto,valor_liquido,ano,mes,competencia,matric,cargo_normalizado,comp
index,,,,,,,,,,,,,,,,,,,,,
0,00028,RAIMUNDO ANTONIO LUIZ,Secretaria Geral Legislativa,Departamento Financeiro,CHEFE DE DIVISÇO,NaN,39 ano(s),28/01/1982,03/11/2021,Adiantamento,...,1,1,3300.09,3300,2017,07,2017-07,28.0,CHEFE,2017-07
1,00028,RAIMUNDO ANTONIO LUIZ,Secretaria Geral Legislativa,Departamento Financeiro,CHEFE DE DIVISÇO,NaN,39 ano(s),28/01/1982,03/11/2021,Pagamento Mensal,...,6,1,19416.31,3361,2017,07,2017-07,28.0,CHEFE,2017-07
2,00091,PEDRO HIDEKI KOMURA,Vereadores,Inativos,PRESIDENTE DA CAMARA,NaN,30 ano(s),01/01/1993,None,Pagamento Mensal,...,6,2,12959.15,7840,2017,07,2017-07,91.0,PRESIDENTE DA CAMARA,2017-07
3,00148,JOSE ROBERTO RIBEIRO,Secretaria Geral Administrativa,Departamento Administrativo,MOTORISTA,NaN,26 ano(s),03/07/1995,01/10/2021,Pagamento Mensal,...,6,1,4721.68,2333,2017,07,2017-07,148.0,MOTORISTA,2017-07
4,00148,JOSE ROBERTO RIBEIRO,Secretaria Geral Administrativa,Departamento Administrativo,MOTORISTA,NaN,26 ano(s),03/07/1995,01/10/2021,Adiantamento,...,1,1,1216.33,1216,2017,07,2017-07,148.0,MOTORISTA,2017-07
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
452,01909,MARLI VASCONCELOS GARCIA CAVALHEIRO,Secretaria Geral Legislativa,Departamento Financeiro,ASSESSOR PARA ASSUNTOS POLITICO-LEGISLATIVOS,NaN,3 mes(es),29/06/2023,None,Pagamento Mensal,...,6,1,6474.36,3227,2023,07,2023-07,1909.0,ASSESSOR,2023-07
453,01910,EVERTON CARDOSO DE SOUSA,Secretaria Geral Legislativa,Departamento Financeiro,ASSESSOR PARA ASSUNTOS POLITICO-LEGISLATIVOS,NaN,2 mes(es),12/07/2023,None,Pagamento Mensal,...,6,1,3844.15,3414,2023,07,2023-07,1910.0,ASSESSOR,2023-07
454,01911,VANESSA DOS SANTOS LUCAS PAULA,Secretaria Geral Legislativa,Departamento Financeiro,ASSESSOR PARA ASSUNTOS POLITICO-LEGISLATIVOS,NaN,2 mes(es),07/07/2023,None,Pagamento Mensal,...,6,1,4855.77,4028,2023,07,2023-07,1911.0,ASSESSOR,2023-07
455,01912,PEDRO IVO VIEIRA ALVES DE SOUSA,Secretaria Geral Legislativa,Departamento Financeiro,ASSESSOR PARA ASSUNTOS POLITICO-LEGISLATIVOS,NaN,2 mes(es),24/07/2023,None,Pagamento Mensal,...,6,1,1416.27,1309,2023,07,2023-07,1912.0,ASSESSOR,2023-07
456,01913,RUBENS ROBSON DE MATOS RIBEIRO,Secretaria Geral Legislativa,Departamento Financeiro,ASSISTENTE PARLAMENTAR,NaN,2 mes(es),19/07/2023,None,Pagamento Mensal,...,6,1,2757.12,2229,2023,07,2023-07,1913.0,ASSISTENTE PARLAMENTAR,2023-07

In [6]:
def normaliza_cargo(cargo):
    if cargo.startswith('CHEFE DE DIV'):
        return 'CHEFE DE DIVISAO'
    
    if cargo.startswith('DIRETOR D'):
        return 'DIRETOR DE DEPARTAMENTO I'
    
    if cargo.startswith("PROF.'I' DE"):
        return 'PROFESSOR ENSINO FUNDAMENTAL I'
    if cargo.startswith("PROFESSOR I DE"):
        return 'PROFESSOR ENSINO FUNDAMENTAL I'
    if cargo.startswith('PROF.I" DE'):
        return 'PROFESSOR ENSINO FUNDAMENTAL I'    
    if cargo.startswith('PROF. I" DE'):
        return 'PROFESSOR ENSINO FUNDAMENTAL I'
    
    if cargo.startswith('PROFESSOR II DE'):
        return 'PROFESSOR ENSINO FUNDAMENTAL II'
    if cargo.startswith("PROF.'II' DE"):
        return 'PROFESSOR ENSINO FUNDAMENTAL II'
    if cargo.startswith('PROF.II" DE'):
        return 'PROFESSOR ENSINO FUNDAMENTAL II'
    if cargo.startswith("PROF.'II'"):
        return 'PROFESSOR ENSINO FUNDAMENTAL II'
    
    if cargo.startswith('PROFESSOR DE EDUCAÇÃO BÁSICA I'):
        return 'PROFESSOR EDUCACAO BASICA I'
    if cargo.startswith('PROF.EDUCACAO INFANTIL'):
        return 'PROFESSOR EDUCACAO BASICA I'
    if cargo.startswith('PROFESSOR EDUC INFANTIL-'):
        return 'PROFESSOR EDUCACAO BASICA I'
    if cargo.startswith('PROF. EDUC. INFANTIL'):
        return 'PROFESSOR EDUCACAO BASICA I'
    if cargo.startswith('PROF.EDUC.INFANTIL-J'):
        return 'PROFESSOR EDUCACAO BASICA I'
    if cargo.startswith('PROFESSOR EDUCAÇÃO BÁSICA II'):
        return 'PROFESSOR EDUCACAO BASICA II'
    if cargo.startswith('PROFESSOR EDUCACAO BASICA II'):
        return 'PROFESSOR EDUCACAO BASICA II'
       
    return cargo


df['cargo_normalizado'] = df['cargo']
df['cargo_normalizado'] = df['cargo_normalizado'].apply(normaliza_cargo)
print(len(df['cargo'].unique()))
print(len(df['cargo_normalizado'].unique()))
df[['matricula', 'nome', 'cargo', 'cargo_normalizado']][df['cargo_normalizado'].str.contains(r'PROF', regex=True)]['cargo_normalizado'].unique()

37
37

array([], dtype=object)

In [7]:
filtro_ano_matricula_duplicado = df.duplicated(subset=['ano', 'matricula'])
filtro_ano_matricula_duplicado
df[~filtro_ano_matricula_duplicado].groupby(['ano', ])[['matricula']].count().reset_index()

    ano  matricula
0  2017        208
1  2018        232
2  2019        227
3  2020        152
4  2021        228
5  2022        221
6  2023        232

In [8]:
df['competencia_normalizada'] = df['competencia'].str[3:] + '-' + df['competencia'].str[:2]
df['competencia_normalizada']

index
0      7-07-20
1      7-07-20
2      7-07-20
3      7-07-20
4      7-07-20
        ...
452    3-07-20
453    3-07-20
454    3-07-20
455    3-07-20
456    3-07-20
Name: competencia_normalizada, Length: 30024, dtype: object

In [9]:
import plotly.express as px
px.data.tips()

     total_bill   tip     sex smoker   day    time  size
0         16.99  1.01  Female     No   Sun  Dinner     2
1         10.34  1.66    Male     No   Sun  Dinner     3
2         21.01  3.50    Male     No   Sun  Dinner     3
3         23.68  3.31    Male     No   Sun  Dinner     2
4         24.59  3.61  Female     No   Sun  Dinner     4
..          ...   ...     ...    ...   ...     ...   ...
239       29.03  5.92    Male     No   Sat  Dinner     3
240       27.18  2.00  Female    Yes   Sat  Dinner     2
241       22.67  2.00    Male    Yes   Sat  Dinner     2
242       17.82  1.75    Male     No   Sat  Dinner     2
243       18.78  3.00  Female     No  Thur  Dinner     2

[244 rows x 7 columns]

In [10]:
import plotly.express as px


# fig = px.scatter(df, x="matricula", y="valor_bruto")
# fig.show()

In [11]:
# fig = px.box(df_result, y="valor_bruto")
# fig.show()

In [12]:
# fig = px.box(df_result, x="matricula", y="valor_bruto", points="all")
# fig.update_traces(quartilemethod="linear")
# fig.show()

In [13]:
df['mes'].unique()
len(df[df['ano'] == '2023']['mes'].unique())-1

def get_ultimos_meses(dataframe):
    ultimo_ano = 2022#max(dataframe['ano'].unique().astype(int))
    ultimo_mes = 3 #max(dataframe[dataframe['ano'] == str(ultimo_ano)]['mes'].unique().astype(int))

    mapa_meses = [f'{m:0>2d}' for m in range(1,13)]

    lista_meses_anteriores = []

    for i in range(8, 12):
        lista_meses_anteriores.append(mapa_meses[(ultimo_mes + i) % 12])

    set_meses_ultimo_ano = set(dataframe[dataframe['ano'] == str(ultimo_ano)]['mes'].unique())
    
    qtde_meses_ultimo_ano = len(set_meses_ultimo_ano)
    diferenca = set(lista_meses_anteriores) - set_meses_ultimo_ano

    if len(diferenca) > 0:
        print(f'o ano {ultimo_ano -1} deve ser selecionado')
        

    return lista_meses_anteriores

get_ultimos_meses(df)

['12', '01', '02', '03']

In [14]:
# df.groupby('cargo_normalizado')[['valor_bruto']].sum().reset_index().sort_values('valor_bruto', ascending=False)
# df_result = (df.groupby('cargo_normalizado')[['valor_bruto']]
#                              .agg(['sum', 'mean'])).reset_index()
# colunas = ['cargo', 'sum', 'mean']

# df_result.columns = colunas
# df_result
                             

filtro_ano_matricula_duplicado = df.duplicated(subset=['comp', 'matricula'])
qtde_matriculas_mensal = df[~filtro_ano_matricula_duplicado].groupby(['comp', 'cargo_normalizado'])[['matricula']].count().reset_index()
qtde_matriculas_mensal['Tipo'] = 'Matriculas'                             
qtde_matriculas_mensal

,comp,cargo_normalizado,matricula,Tipo
0,2017-07,AGENTE DE MANUTENCAO,2,Matriculas
1,2017-07,ASSESSOR DE CERIMONIAL,1,Matriculas
2,2017-07,ASSESSOR ESPECIAL PARLAMENTAR,4,Matriculas
3,2017-07,ASSESSOR PARA ASSUNTOS POLITICO-LEGISLATIVOS,29,Matriculas
4,2017-07,ASSISTENTE PARLAMENTAR,29,Matriculas
...,...,...,...,...
2203,2023-07,SECRETARIO GERAL LEGISLATIVO,1,Matriculas
2204,2023-07,TELEFONISTA,3,Matriculas
2205,2023-07,TESOUREIRO,1,Matriculas
2206,2023-07,VEREADOR,21,Matriculas
2207,2023-07,VIGILANTE LEGISLATIVO,17,Matriculas

In [15]:
# import plotly.express as px

# # Obter os dados (usando o mesmo exemplo que você forneceu)
# df = px.data.tips()

# # Criar o gráfico de dispersão com a label formatada
# fig = px.scatter(df, x="total_bill", y="tip", trendline="ols", hover_name="day", 
#                  custom_data=["size", "sex", "smoker"])

# # Personalizar a label que aparece quando passamos o mouse sobre os pontos
# fig.update_traces(
#     hovertemplate="Total Bill: %{x:$,.2f}<br>Tip: %{y:$,.2f}<br>Day: %{hovertext}<br>Size: %{customdata[0]}<br>Sex: %{customdata[1]}<br>Smoker: %{customdata[2]}"
# )

# # Habilitar o recurso de seleção (clique) nos pontos
# fig.update_layout(
#     clickmode='event+select'
# )

# # Exibir o gráfico
# fig.show()

In [16]:
import plotly.graph_objects as go

import numpy as np
np.random.seed(1)

x = np.random.rand(100)
y = np.random.rand(100)

fig = go.FigureWidget([go.Scatter(x=x, y=y, mode='markers')])

scatter = fig.data[0]
colors = ['#a3a7e4'] * 100
scatter.marker.color = colors
scatter.marker.size = [10] * 100
fig.layout.hovermode = 'closest'


# create our callback function
def update_point(trace, points, selector):
    c = list(scatter.marker.color)
    s = list(scatter.marker.size)
    for i in points.point_inds:
        c[i] = '#bae2be'
        s[i] = 20
        with fig.batch_update():
            scatter.marker.color = c
            scatter.marker.size = s


scatter.on_click(update_point)

fig

FigureWidget({
    'data': [{'marker': {'color': [#a3a7e4, #a3a7e4, #a3a7e4, #a3a7e4, #a3a7e4,
               …

In [17]:
# import plotly.express as px

# df = px.data.iris()
# fig = px.scatter(df, x="sepal_width", y="sepal_length", color="species")

# fig.update_traces(marker=dict(size=12,
#                               line=dict(width=2,
#                                         color='DarkSlateGrey')),
#                   selector=dict(mode='markers'))
# fig.show()

In [18]:
df = load_data()
# display(df.columns)
# df_result = df[df['ano'].isin(['2023']) & df['mes'].isin(['01'])].groupby(
#             ['cargo_normalizado'])[['valor_bruto']].max().reset_index().sort_values('valor_bruto', ascending=False).head(20).index
# display(df_result.columns)
# display(df_result)

# Agrupando e obtendo o valor máximo e a matrícula correspondente para cada cargo_normalizado
max_values = df[df['ano'].isin(['2023']) & df['mes'].isin(['06'])].loc[df.groupby('cargo_normalizado')['valor_bruto'].idxmax()]

print(max_values[['cargo_normalizado', 'matricula', 'valor_bruto']].sort_values('valor_bruto', ascending=False).head(20))

KeyError: '[647] not in index'

In [ ]:
df = load_data()
df_result = df[df['ano'].isin(['2023']) & df['mes'].isin(['06'])].groupby('cargo_normalizado')['valor_bruto'].max().sort_values(ascending=False).nlargest(20)
df_result

cargo_normalizado
SECRETARIO MUNICIPAL                     60875.79
PROF. EDUC. BASICA II                    40822.32
PROCURADOR                               39746.65
GUARDA MUNICIPAL 2ª CLASSE               33721.17
MEDICO 20 H                              33567.35
ORIENTADOR DE INFORMATICA                33479.19
AGENTE VISTOR                             32792.1
AGENTE DE TRIBUTOS IMOBILIARIOS          32050.24
PROF. EDUC. BASICA I                     31865.94
DIRETOR ESCOLA MUN - JORNADA INTEGRAL    31225.01
CHEFE DE DIVISAO                         27962.16
PREFEITO MUNICIPAL                        27520.3
FISIOTERAPEUTA - 30 H                     26716.1
DIRETOR DE DEPARTAMENTO                  24285.49
DENTISTA - 20 H                          24174.41
ENFERMEIRO                                23894.4
FISCAL                                   23526.59
GUARDA MUNICIPAL 3a. CLASSE              23432.88
FONOAUDIOLOGO - 30 H                     22955.01
ELETRICISTA                              22737.24
Name: valor_bruto, dtype: Float64

In [ ]:
df = load_data()

def get_maiores_pagamentos_matriculas(df, col, n=10):
    idx_maiores = df.groupby('cargo_normalizado')[col].idxmax()
    return df.loc[idx_maiores, col]


df_result = df[df['ano'].isin(['2023']) & df['mes'].isin(['06'])].groupby('cargo_normalizado').apply(get_maiores_pagamentos_matriculas, 'valor_bruto')
print(df_result.sort_values(ascending=False).nlargest(10).index.get_level_values(1).tolist())
print(df_result.sort_values(ascending=False).nlargest(10).index.get_level_values(0).tolist())
print(df_result.sort_values(ascending=False).nlargest(10).values)
df[df['ano'].isin(['2023']) & df['mes'].isin(['06'])].loc[df_result.sort_values(ascending=False).nlargest(10).index.get_level_values(1).tolist()]['matricula']

[564, 4529, 2236, 5045, 301, 998, 198, 4222, 1976, 3602]
['SECRETARIO MUNICIPAL', 'PROF. EDUC. BASICA II', 'PROCURADOR', 'GUARDA MUNICIPAL 2ª CLASSE', 'MEDICO 20 H', 'ORIENTADOR DE INFORMATICA', 'AGENTE VISTOR', 'AGENTE DE TRIBUTOS IMOBILIARIOS', 'PROF. EDUC. BASICA I', 'DIRETOR ESCOLA MUN - JORNADA INTEGRAL']
<FloatingArray>
[60875.79, 40822.32, 39746.65, 33721.17, 33567.35, 33479.19,  32792.1,
 32050.24, 31865.94, 31225.01]
Length: 10, dtype: Float64

564     08086
4529    15091
2236    14784
5045    07744
301     15738
998     15159
198     19227
4222    03947
1976    14914
3602    08414
Name: matricula, dtype: object

### Save Excel file into reports directory

Save an Excel file with intermediate results into the report directory

In [ ]:
df = load_data()
df.loc[:, ['matricula', 'nome', 'comp', 'valor_bruto' ]]

     matricula                          nome     comp  valor_bruto
0        07475       ABELARDO PAULINO JUNIOR  2009-05      1445.56
1        11961  ABENONIAS DA CONCEICAO SILVA  2009-05      1580.11
2        08579                   ABNER SOUZA  2009-05       875.82
3        08977       ACACIO MARTINS OLIVEIRA  2009-05       875.82
4        10636       ADALBERTO LOPES MACHADO  2009-05      5227.71
...        ...                           ...      ...          ...
6200     18110          ZILMA GOMES DE SOUZA  2023-06      2677.22
6201     20106       ZILMA VIVIANE LIMA ELOY  2023-06       5558.0
6202     08791     ZILVA DIRCE GABAS PEREIRA  2023-06      8502.49
6203     19985                  ZIZA BARBOSA  2023-06      4075.96
6204     12474  ZULEIDE SANTOS  A.CHRISTIANO  2023-06       2619.6

[878553 rows x 4 columns]

In [ ]:
# import plotly.graph_objects as go

# # Generate example data
# import numpy as np

# x = np.random.uniform(low=3, high=6, size=(500,))
# y = np.random.uniform(low=3, high=4.5, size=(500,))
# x2 = np.random.uniform(low=3, high=6, size=(500,))
# y2 = np.random.uniform(low=4.5, high=6, size=(500,))

# # Build figure
# fig = go.Figure()

# # Add first scatter trace with medium sized markers
# fig.add_trace(
#     go.Scatter(
#         mode='markers',
#         x=x,
#         y=y,
#         opacity=0.5,
#         marker=dict(
#             color='LightSkyBlue',
#             size=20,
#             line=dict(
#                 color='MediumPurple',
#                 width=2
#             )
#         ),
#         name='Opacity 0.5'
#     )
# )

# # Add second scatter trace with medium sized markers
# # and opacity 1.0
# fig.add_trace(
#     go.Scatter(
#         mode='markers',
#         x=x2,
#         y=y2,
#         marker=dict(
#             color='LightSkyBlue',
#             size=20,
#             line=dict(
#                 color='MediumPurple',
#                 width=2
#             )
#         ),
#         name='Opacity 1.0'
#     )
# )

# # # Add trace with large markers
# fig.add_trace(
#     go.Scatter(
#         mode='markers',
#         x=[2, ],
#         y=[4.25, ],
#         opacity=1,
#         marker=dict(
#             color='LightSkyBlue',
#             size=10,
#             line=dict(
#                 color='MediumPurple',
#                 width=8
#             )
#         ),
#         showlegend=False
#     )
# )
# # Add trace with large markers
# fig.add_trace(
#     go.Scatter(
#         mode='markers',
#         x=[2, 2],
#         y=[4.25, 4.75],
#         opacity=0.5,
#         marker=dict(
#             color='LightSkyBlue',
#             size=80,
#             line=dict(
#                 color='MediumPurple',
#                 width=8
#             )
#         ),
#         showlegend=False
#     )
# )

# # # # Add trace with large markers
# # fig.update_traces(
# #     go.Scatter(
# #         mode='markers',
# #         x=[2, ],
# #         y=[4.25, ],
# #         opacity=1,
# #         marker=dict(
# #             color='LightSkyBlue',
# #             size=10,
# #             line=dict(
# #                 color='MediumPurple',
# #                 width=8
# #             )
# #         ),
# #         showlegend=False
# #     )
# # )

# # fig.update_traces(
# #     go.Scatter(
# #         mode='markers',
# #         x=[2, 2],
# #         y=[4.25, 4.75],
# #         opacity=0.8,
# #         marker=dict(
# #             color='LightSkyBlue',
# #             size=100,
# #             line=dict(
# #                 color='MediumPurple',
# #                 width=8
# #             )
# #         ),
# #         showlegend=True
# #     )
# # )

# fig.show()